/* Simplified AOS CSS for Local Use */
[data-aos] {
    opacity: 0;
    transition-property: opacity, transform;
    transition-duration: 1s;
  }
  
  [data-aos="fade-up"] {
    transform: translateY(20px);
  }
  
  [data-aos="fade-down"] {
    transform: translateY(-20px);
  }
  
  [data-aos="fade-right"] {
    transform: translateX(-20px);
  }
  
  [data-aos="fade-left"] {
    transform: translateX(20px);
  }
  
  [data-aos].aos-animate {
    opacity: 1;
    transform: translate(0, 0);
  }
  